$day-size: 100px;
$margin: 1px;
$day-color: #eee;
$ff-main: arial;
$fs-main: 30px;
$day-border: 1px black solid;

* {
  box-sizing: border-box;
}

html {
  font-family: $ff-main, sans-serif;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: ($day-size+$margin)*7;
  gap: $margin;
  margin-top: 30px;

}

.calendar div {
  width: $day-size;
  height: $day-size;
  
  background-color: $day-color;
  font-family: $ff-main;
  font-size: $fs-main;

  border: $day-border;

  transition: 0.5s ease;

  &:hover {
    background-color: pink;
    transform: translateY(-20px);
    cursor: pointer;
  }

  &:after {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: $fs-main;
    line-height: $day-size;
    display: block;
  }
}

.calendar div:first-child {
  margin-left: ($day-size + $margin) * 2;
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 1 through 31 {
  .calendar-#{$i} div:nth-child(-n+#{$i}) {
    display: block;

    &::after {
      display: block;
    }
  }
}

$week: (
  "mon": 0,
  "tue": $day-size + $margin,
  "wed": ($day-size + $margin) * 2,
  "thu": ($day-size + $margin) * 3,
  "fri": ($day-size + $margin) * 4,
  "sat": ($day-size + $margin) * 5,
  "sun": ($day-size + $margin) * 6
);

@each $day, $margin in $week {
  .calendar-#{$day} div:first-child {
    margin-left: $margin;
  }
}
